---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - test-token
    url: https://api.github.com/repos/yyh-gl/gocr/pulls?status=open
    method: GET
  response:
    body: '[{"url":"https://api.github.com/repos/yyh-gl/gocr/pulls/2","id":427190671,"node_id":"MDExOlB1bGxSZXF1ZXN0NDI3MTkwNjcx","html_url":"https://github.com/yyh-gl/gocr/pull/2","diff_url":"https://github.com/yyh-gl/gocr/pull/2.diff","patch_url":"https://github.com/yyh-gl/gocr/pull/2.patch","issue_url":"https://api.github.com/repos/yyh-gl/gocr/issues/2","number":2,"state":"open","locked":false,"title":"Update go version","user":{"login":"yyh-gl","id":22971513,"node_id":"MDQ6VXNlcjIyOTcxNTEz","avatar_url":"https://avatars1.githubusercontent.com/u/22971513?v=4","gravatar_id":"","url":"https://api.github.com/users/yyh-gl","html_url":"https://github.com/yyh-gl","followers_url":"https://api.github.com/users/yyh-gl/followers","following_url":"https://api.github.com/users/yyh-gl/following{/other_user}","gists_url":"https://api.github.com/users/yyh-gl/gists{/gist_id}","starred_url":"https://api.github.com/users/yyh-gl/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/yyh-gl/subscriptions","organizations_url":"https://api.github.com/users/yyh-gl/orgs","repos_url":"https://api.github.com/users/yyh-gl/repos","events_url":"https://api.github.com/users/yyh-gl/events{/privacy}","received_events_url":"https://api.github.com/users/yyh-gl/received_events","type":"User","site_admin":false},"body":"test","created_at":"2020-06-03T13:08:54Z","updated_at":"2020-06-06T13:49:46Z","closed_at":null,"merged_at":null,"merge_commit_sha":"2a88f07deaafc981293405473bf9265dda8cf9b7","assignee":null,"assignees":[],"requested_reviewers":[],"requested_teams":[],"labels":[],"milestone":null,"draft":false,"commits_url":"https://api.github.com/repos/yyh-gl/gocr/pulls/2/commits","review_comments_url":"https://api.github.com/repos/yyh-gl/gocr/pulls/2/comments","review_comment_url":"https://api.github.com/repos/yyh-gl/gocr/pulls/comments{/number}","comments_url":"https://api.github.com/repos/yyh-gl/gocr/issues/2/comments","statuses_url":"https://api.github.com/repos/yyh-gl/gocr/statuses/0b4dc91310b6e2b90099332750b33212fafce5a1","head":{"label":"yyh-gl:samle2","ref":"samle2","sha":"0b4dc91310b6e2b90099332750b33212fafce5a1","user":{"login":"yyh-gl","id":22971513,"node_id":"MDQ6VXNlcjIyOTcxNTEz","avatar_url":"https://avatars1.githubusercontent.com/u/22971513?v=4","gravatar_id":"","url":"https://api.github.com/users/yyh-gl","html_url":"https://github.com/yyh-gl","followers_url":"https://api.github.com/users/yyh-gl/followers","following_url":"https://api.github.com/users/yyh-gl/following{/other_user}","gists_url":"https://api.github.com/users/yyh-gl/gists{/gist_id}","starred_url":"https://api.github.com/users/yyh-gl/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/yyh-gl/subscriptions","organizations_url":"https://api.github.com/users/yyh-gl/orgs","repos_url":"https://api.github.com/users/yyh-gl/repos","events_url":"https://api.github.com/users/yyh-gl/events{/privacy}","received_events_url":"https://api.github.com/users/yyh-gl/received_events","type":"User","site_admin":false},"repo":{"id":267045354,"node_id":"MDEwOlJlcG9zaXRvcnkyNjcwNDUzNTQ=","name":"gocr","full_name":"yyh-gl/gocr","private":false,"owner":{"login":"yyh-gl","id":22971513,"node_id":"MDQ6VXNlcjIyOTcxNTEz","avatar_url":"https://avatars1.githubusercontent.com/u/22971513?v=4","gravatar_id":"","url":"https://api.github.com/users/yyh-gl","html_url":"https://github.com/yyh-gl","followers_url":"https://api.github.com/users/yyh-gl/followers","following_url":"https://api.github.com/users/yyh-gl/following{/other_user}","gists_url":"https://api.github.com/users/yyh-gl/gists{/gist_id}","starred_url":"https://api.github.com/users/yyh-gl/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/yyh-gl/subscriptions","organizations_url":"https://api.github.com/users/yyh-gl/orgs","repos_url":"https://api.github.com/users/yyh-gl/repos","events_url":"https://api.github.com/users/yyh-gl/events{/privacy}","received_events_url":"https://api.github.com/users/yyh-gl/received_events","type":"User","site_admin":false},"html_url":"https://github.com/yyh-gl/gocr","description":"GoCR is planner for a notification of code review request.","fork":false,"url":"https://api.github.com/repos/yyh-gl/gocr","forks_url":"https://api.github.com/repos/yyh-gl/gocr/forks","keys_url":"https://api.github.com/repos/yyh-gl/gocr/keys{/key_id}","collaborators_url":"https://api.github.com/repos/yyh-gl/gocr/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/yyh-gl/gocr/teams","hooks_url":"https://api.github.com/repos/yyh-gl/gocr/hooks","issue_events_url":"https://api.github.com/repos/yyh-gl/gocr/issues/events{/number}","events_url":"https://api.github.com/repos/yyh-gl/gocr/events","assignees_url":"https://api.github.com/repos/yyh-gl/gocr/assignees{/user}","branches_url":"https://api.github.com/repos/yyh-gl/gocr/branches{/branch}","tags_url":"https://api.github.com/repos/yyh-gl/gocr/tags","blobs_url":"https://api.github.com/repos/yyh-gl/gocr/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/yyh-gl/gocr/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/yyh-gl/gocr/git/refs{/sha}","trees_url":"https://api.github.com/repos/yyh-gl/gocr/git/trees{/sha}","statuses_url":"https://api.github.com/repos/yyh-gl/gocr/statuses/{sha}","languages_url":"https://api.github.com/repos/yyh-gl/gocr/languages","stargazers_url":"https://api.github.com/repos/yyh-gl/gocr/stargazers","contributors_url":"https://api.github.com/repos/yyh-gl/gocr/contributors","subscribers_url":"https://api.github.com/repos/yyh-gl/gocr/subscribers","subscription_url":"https://api.github.com/repos/yyh-gl/gocr/subscription","commits_url":"https://api.github.com/repos/yyh-gl/gocr/commits{/sha}","git_commits_url":"https://api.github.com/repos/yyh-gl/gocr/git/commits{/sha}","comments_url":"https://api.github.com/repos/yyh-gl/gocr/comments{/number}","issue_comment_url":"https://api.github.com/repos/yyh-gl/gocr/issues/comments{/number}","contents_url":"https://api.github.com/repos/yyh-gl/gocr/contents/{+path}","compare_url":"https://api.github.com/repos/yyh-gl/gocr/compare/{base}...{head}","merges_url":"https://api.github.com/repos/yyh-gl/gocr/merges","archive_url":"https://api.github.com/repos/yyh-gl/gocr/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/yyh-gl/gocr/downloads","issues_url":"https://api.github.com/repos/yyh-gl/gocr/issues{/number}","pulls_url":"https://api.github.com/repos/yyh-gl/gocr/pulls{/number}","milestones_url":"https://api.github.com/repos/yyh-gl/gocr/milestones{/number}","notifications_url":"https://api.github.com/repos/yyh-gl/gocr/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/yyh-gl/gocr/labels{/name}","releases_url":"https://api.github.com/repos/yyh-gl/gocr/releases{/id}","deployments_url":"https://api.github.com/repos/yyh-gl/gocr/deployments","created_at":"2020-05-26T13:07:36Z","updated_at":"2020-06-04T13:51:24Z","pushed_at":"2020-06-06T13:49:44Z","git_url":"git://github.com/yyh-gl/gocr.git","ssh_url":"git@github.com:yyh-gl/gocr.git","clone_url":"https://github.com/yyh-gl/gocr.git","svn_url":"https://github.com/yyh-gl/gocr","homepage":"","size":5700,"stargazers_count":0,"watchers_count":0,"language":"Go","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":5,"license":{"key":"gpl-3.0","name":"GNU General Public License v3.0","spdx_id":"GPL-3.0","url":"https://api.github.com/licenses/gpl-3.0","node_id":"MDc6TGljZW5zZTk="},"forks":0,"open_issues":5,"watchers":0,"default_branch":"master"}},"base":{"label":"yyh-gl:master","ref":"master","sha":"06f983d447814a0ef98a83f370afb7292a6f524f","user":{"login":"yyh-gl","id":22971513,"node_id":"MDQ6VXNlcjIyOTcxNTEz","avatar_url":"https://avatars1.githubusercontent.com/u/22971513?v=4","gravatar_id":"","url":"https://api.github.com/users/yyh-gl","html_url":"https://github.com/yyh-gl","followers_url":"https://api.github.com/users/yyh-gl/followers","following_url":"https://api.github.com/users/yyh-gl/following{/other_user}","gists_url":"https://api.gith[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - test-token
    url: https://api.github.com/repos/yyh-gl/gocr/pulls/2
    method: GET
  response:
    body: '{"url":"https://api.github.com/repos/yyh-gl/gocr/pulls/2","id":427190671,"node_id":"MDExOlB1bGxSZXF1ZXN0NDI3MTkwNjcx","html_url":"https://github.com/yyh-gl/gocr/pull/2","diff_url":"https://github.com/yyh-gl/gocr/pull/2.diff","patch_url":"https://github.com/yyh-gl/gocr/pull/2.patch","issue_url":"https://api.githu[...]
