---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - token test-token
    url: https://api.github.com/repos/yyh-gl/gocr/pulls?status=open
    method: GET
  response:
    body: '[{"url":"https://api.github.com/repos/yyh-gl/gocr/pulls/45","id":423224308,"node_id":"MDExOlB1bGxSZXF1ZXN0NDIzMjI0MzA4","html_url":"https://github.com/yyh-gl/gocr/pull/45","diff_url":"https://github.com/yyh-gl/gocr/pull/45.diff","patch_url":"https://github.com/yyh-gl/gocr/pull/45.patch","issue_url":"https://api.github.com/repos/yyh-gl/gocr/issues/45","number":45,"state":"open","locked":false,"title":"test","user":{"login":"yyh-gl","id":22971513,"node_id":"MDQ6VXNlcjIyOTcxNTEz","avatar_url":"https://avatars1.githubusercontent.com/u/22971513?v=4","gravatar_id":"","url":"https://api.github.com/users/yyh-gl","html_url":"https://github.com/yyh-gl","followers_url":"https://api.github.com/users/yyh-gl/followers","following_url":"https://api.github.com/users/yyh-gl/following{/other_user}","gists_url":"https://api.github.com/users/yyh-gl/gists{/gist_id}","starred_url":"https://api.github.com/users/yyh-gl/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/yyh-gl/subscriptions","organizations_url":"https://api.github.com/users/yyh-gl/orgs","repos_url":"https://api.github.com/users/yyh-gl/repos","events_url":"https://api.github.com/users/yyh-gl/events{/privacy}","received_events_url":"https://api.github.com/users/yyh-gl/received_events","type":"User","site_admin":false},"body":"","created_at":"2020-05-26T13:59:19Z","updated_at":"2020-05-26T13:59:19Z","closed_at":null,"merged_at":null,"merge_commit_sha":"49623be2c8bbd35594f90e034fea0ddfee557c3e","assignee":null,"assignees":[],"requested_reviewers":[{"login":"yyh-gl-robo","id":6457605,"node_id":"MDQ6VXNlcjY0NTc2MDU=","avatar_url":"https://avatars2.githubusercontent.com/u/6457605?v=4","gravatar_id":"","url":"https://api.github.com/users/yyh-gl-robo","html_url":"https://github.com/yyh-gl-robo","followers_url":"https://api.github.com/users/yyh-gl-robo/followers","following_url":"https://api.github.com/users/yyh-gl-robo/following{/other_user}","gists_url":"https://api.github.com/users/yyh-gl-robo/gists{/gist_id}","starred_url":"https://api.github.com/users/yyh-gl-robo/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/yyh-gl-robo/subscriptions","organizations_url":"https://api.github.com/users/yyh-gl-robo/orgs","repos_url":"https://api.github.com/users/yyh-gl-robo/repos","events_url":"https://api.github.com/users/yyh-gl-robo/events{/privacy}","received_events_url":"https://api.github.com/users/yyh-gl-robo/received_events","type":"User","site_admin":false}],"requested_teams":[],"labels":[],"milestone":null,"draft":false,"commits_url":"https://api.github.com/repos/yyh-gl/gocr/pulls/45/commits","review_comments_url":"https://api.github.com/repos/yyh-gl/gocr/pulls/45/comments","review_comment_url":"https://api.github.com/repos/yyh-gl/gocr/pulls/comments{/number}","comments_url":"https://api.github.com/repos/yyh-gl/gocr/issues/45/comments","statuses_url":"https://api.github.com/repos/yyh-gl/gocr/statuses/e8e92b40ea0e066bc240223d8196aa5c440cd36a","head":{"label":"yyh-gl:test","ref":"test","sha":"e8e92b40ea0e066bc240223d8196aa5c440cd36a","user":{"login":"yyh-gl","id":65029252,"node_id":"MDEyOk9yZ2FuaXphdGlvbjY1MDI5MjUy","avatar_url":"https://avatars1.githubusercontent.com/u/65029252?v=4","gravatar_id":"","url":"https://api.github.com/users/yyh-gl","html_url":"https://github.com/yyh-gl","followers_url":"https://api.github.com/users/yyh-gl/followers","following_url":"https://api.github.com/users/yyh-gl/following{/other_user}","gists_url":"https://api.github.com/users/yyh-gl/gists{/gist_id}","starred_url":"https://api.github.com/users/yyh-gl/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/yyh-gl/subscriptions","organizations_url":"https://api.github.com/users/yyh-gl/orgs","repos_url":"https://api.github.com/users/yyh-gl/repos","events_url":"https://api.github.com/users/yyh-gl/events{/privacy}","received_events_url":"https://api.github.com/users/yyh-gl/received_events","type":"Organization","site_admin":false},"repo":{"id":262349332,"node_id":"MDEwOlJlcG9zaXRvcnkyNjIzNDkzMzI=","name":"gocr","full_name":"yyh-gl/gocr","private":true,"owner":{"login":"yyh-gl","id":65029252,"node_id":"MDEyOk9yZ2FuaXphdGlvbjY1MDI5MjUy","avatar_url":"https://avatars1.githubusercontent.com/u/65029252?v=4","gravatar_id":"","url":"https://api.github.com/users/yyh-gl","html_url":"https://github.com/yyh-gl","followers_url":"https://api.github.com/users/yyh-gl/followers","following_url":"https://api.github.com/users/yyh-gl/following{/other_user}","gists_url":"https://api.github.com/users/yyh-gl/gists{/gist_id}","starred_url":"https://api.github.com/users/yyh-gl/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/yyh-gl/subscriptions","organizations_url":"https://api.github.com/users/yyh-gl/orgs","repos_url":"https://api.github.com/users/yyh-gl/repos","events_url":"https://api.github.com/users/yyh-gl/events{/privacy}","received_events_url":"https://api.github.com/users/yyh-gl/received_events","type":"Organization","site_admin":false},"html_url":"https://github.com/yyh-gl/gocr","description":null,"fork":false,"url":"https://api.github.com/repos/yyh-gl/gocr","forks_url":"https://api.github.com/repos/yyh-gl/gocr/forks","keys_url":"https://api.github.com/repos/yyh-gl/gocr/keys{/key_id}","collaborators_url":"https://api.github.com/repos/yyh-gl/gocr/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/yyh-gl/gocr/teams","hooks_url":"https://api.github.com/repos/yyh-gl/gocr/hooks","issue_events_url":"https://api.github.com/repos/yyh-gl/gocr/issues/events{/number}","events_url":"https://api.github.com/repos/yyh-gl/gocr/events","assignees_url":"https://api.github.com/repos/yyh-gl/gocr/assignees{/user}","branches_url":"https://api.github.com/repos/yyh-gl/gocr/branches{/branch}","tags_url":"https://api.github.com/repos/yyh-gl/gocr/tags","blobs_url":"https://api.github.com/repos/yyh-gl/gocr/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/yyh-gl/gocr/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/yyh-gl/gocr/git/refs{/sha}","trees_url":"https://api.github.com/repos/yyh-gl/gocr/git/trees{/sha}","statuses_url":"https://api.github.com/repos/yyh-gl/gocr/statuses/{sha}","languages_url":"https://api.github.com/repos/yyh-gl/gocr/languages","stargazers_url":"https://api.github.com/repos/yyh-gl/gocr/stargazers","contributors_url":"https://api.github.com/repos/yyh-gl/gocr/contributors","subscribers_url":"https://api.github.com/repos/yyh-gl/gocr/subscribers","subscription_url":"https://api.github.com/repos/yyh-gl/gocr/subscription","commits_url":"https://api.github.com/repos/yyh-gl/gocr/commits{/sha}","git_commits_url":"https://api.github.com/repos/yyh-gl/gocr/git/commits{/sha}","comments_url":"https://api.github.com/repos/yyh-gl/gocr/comments{/number}","issue_comment_url":"https://api.github.com/repos/yyh-gl/gocr/issues/comments{/number}","contents_url":"https://api.github.com/repos/yyh-gl/gocr/contents/{+path}","compare_url":"https://api.github.com/repos/yyh-gl/gocr/compare/{base}...{head}","merges_url":"https://api.github.com/repos/yyh-gl/gocr/merges","archive_url":"https://api.github.com/repos/yyh-gl/gocr/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/yyh-gl/gocr/downloads","issues_url":"https://api.github.com/repos/yyh-gl/gocr/issues{/number}","pulls_url":"https://api.github.com/repos/yyh-gl/gocr/pulls{/number}","milestones_url":"https://api.github.com/repos/yyh-gl/gocr/milestones{/number}","notifications_url":"https://api.github.com/repos/yyh-gl/gocr/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/yyh-gl/gocr/labels{/name}","releases_url":"https://api.github.com/repos/yyh-gl/gocr/releases{/id}","deployments_url":"https://api.github.com/repos/yyh-gl/gocr/deployments","created_at":"2020-05-08T14:46:44Z","updated_at":"2020-05-10T12:24:40Z","pushed_at":"2020-05-26T13:59:20Z","git_url":"git://github.com/yyh-gl/gocr.git","ssh_url":"git@github.com:yyh-gl/gocr.git","clone_url":"https://github.com/yyh-gl/gocr.git","svn_url":"https://github.com/yyh-gl/gocr","homepage":null,"size":95,"stargazers_count":0,"watchers_count":0,"language":"Go","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":5,"license":null,"forks":0,"open_issues":5,"watchers":0,"default_branch":"master"}},"base":{"label":"yyh-gl:master","ref":"master","sha":"7e5f0c30bc33c9ce4a6a99318bcd5938556e3e4f","user":{"login":"yyh-gl","id":65029252,"node_id":"MDEyOk9yZ2FuaXphdGlvbjY1MDI5MjUy","avatar_url":"https://avatars1.githubusercontent.com/u/65029252?v=4","gravatar_id":"","url":"https://api.github.com/users/yyh-gl","html_url":"https://github.com/yyh-gl","followers_url":"https://api.github.com/users/yyh-gl/followers","following_url":"https://api.github.com/users/yyh-gl/following{/other_user}","gists_url":"http[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - token test-token
    url: https://api.github.com/repos/yyh-gl/gocr/pulls/45
    method: GET
  response:
    body: '{"url":"https://api.github.com/repos/yyh-gl/gocr/pulls/45","id":423224308,"node_id":"MDExOlB1bGxSZXF1ZXN0NDIzMjI0MzA4","html_url":"https://github.com/yyh-gl/gocr/pull/45","diff_url":"https://github.com/yyh-gl/gocr/pull/45.diff","patch_url":"https://github.com/yyh-gl/gocr/pull/45.patch","issue_url":"https:[...]
